.main {
  display: flex;
  flex-direction: column;
  justify-content: left;
  background-color: var(--background);
  font-family: "NeueMachina";
  font-size: 2.5rem;
  width: 50vw;
  font-family: "NeueMachina";
  color: var(--heading-color);
  opacity: 0.9;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.description span {
  color: #b67cf0;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 1rem;
  max-width: var(--max-width);
  z-index: 2;
  font-family: "NeueMachina";
  width: 40vw;
  font-size: 1.5rem;
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 03rem 01rem 01rem 0rem;
  border-radius: var(--border-radius);
}

.container {

  display: flex;
  position: relative;
}
.circle {
  position: absolute;
  top: 250px; /* Adjust the position as needed */
  left: 250px; /* Adjust the position as needed */
  width: 234px; /* Adjust the size as needed */
  height: 234px; /* Adjust the size as needed */
  background-color: #bab7b7;

  opacity: 0.2;

  /* Adjust the color and opacity as needed */
  border-radius: 50%; /* Make it a circle */
  z-index: -1; /* Ensure it is behind the header */
  border: 1px;
}
.circle1 {
  top: 0px; /* Adjust the position as needed */
  left: 100px; /* Adjust the position as needed */
}

.circle2 {
  top: -50px; /* Adjust the position as needed */
  right: -100px; /* Adjust the position as needed */
  left: 367px;
}

.circle3 {
  bottom: 50px; /* Adjust the position as needed */
  left: 70px; /* Adjust the position as needed */
  top: 300px;
}

.circle4 {
  bottom: 58px;
  right: 36px;
  left: 497px;
  top: 239px;
}
.wrapper{
 display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;

}
.img {
  position: relative;
  width: 100%; /* Make the image take the full width of its container */
  height: 100%; /* Make the image take the full height of its container */
  object-fit: cover; /* Ensure the image covers the entire container without stretching */
  top: 220px;
  right: 20px;
}
@media (max-width: 768px) {
  .main {
    font-size: 1.5rem;
  }
  .description {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .main {
    font-size: 1rem;
  }
  .description {
    font-size: 0.8rem;
  }
}
