
.main { 
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    background-color: var(--background);
    font-family: 'NeueMachina' ;
    font-size: 2rem; 
  width: 50vw;
  font-family: 'NeueMachina' ;
  color: var(--heading-color ) ;
  opacity: 0.9;
  text-transform: uppercase;
    letter-spacing: 0.5rem;
}



.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 1rem;
  max-width: var(--max-width);
  z-index: 2;
  font-family:'NeueMachina' ;
  width: 40vw;
  font-size: 1.5rem;

}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 03rem 01rem 01rem 0rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border-radius: var(--border-radius);
}

.container {

  display: flex;

}
.img {
  width: 60vw; /* Make the image container take full width */
  height: auto; /* Maintain aspect ratio */
  max-width: 70vw; /* Optional: Limit the maximum width */
  box-sizing: border-box;
  padding-right: 15rem ;
  
}