.loadingSection {
  width: 100vw;
 background: #FFFFFF;
  border-radius: 50px;
  padding-left: 5vw;
}

.loader {
  font-size: 1.5rem;
  font-family: var(--font-mono);
  color: white;
  animation: fadeIn 1s infinite alternate;
}

@keyframes fadeIn {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
.flexwrapper{
display: flex;
flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

}

.squaretopleft, .squaretopright , .squarebottomleft , .squarebottomright {
  position: relative;
  background: #E7CFFF;
  width: 40vw;
  height: 40vh;
  top: 0; /* Reset top position */
  left: 0; /* Reset left position */
  gap: 0;
  border-radius: 60px;
  opacity: 1; /* Ensure visibility */
  margin: 10px; /* Add some margin for spacing */
}

.squaretopright {
  background: transparent;
  width: 50vw;
  height: 70vh;
  border: 1px solid rgb(167, 167, 167);
}

.squarebottomleft{
  background: #9BFEBE;
    width: 18vw;
    height: 100vh;
    top:-170px ; 
    border: 1px solid rgb(167, 167, 167);
}

.squarebottomright{
 background: #D9D9D9;
    width: 18vw;
    height: 70vh;
    top:-170px ; 
    border: 1px solid rgb(167, 167, 167);
}

.loadingEnd{
    position: relative;
    top:-80px;
    width: 100vw;
    height: 100vh;
    background: #5D6067;

    border-radius: 50px 50px 50px 50px;
    padding-left: 5vw;
}