.roundedcornersborder  
{
  
  border: double 1px transparent;
  border-radius: 10px;
  /* background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),  */
                    /* linear-gradient(to right, #AAA8FF, #666666); */
  background-origin: border-box;
  background-clip: padding-box, border-box;
  
}
/* styles/Navbar.module.css */
.navbar {
  padding: 2rem 0rem 6rem 1rem;
  display: flex;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
      padding: 0.5rem 1rem  0.5rem 1rem;

  border: 1px solid  rgba(184, 127, 238, 0.395); /* Border with subtle opacity */
  border-radius: 8px;
   background: rgba(35, 35, 36, 0.8);
;
}

.logo h2 {
  color: #ffffff;
  font-weight: 400;
  font-size: 17.28px;
  margin-right: 20px;
}
.line{
  /* make a vertical line that doesnt touch the borders */
  border-left: 1px solid rgba(184, 127, 238, 0.395);
  height: 50px;
  width: 10px;
  margin-right: 20px;
  
}
.links {
  display: flex;
  gap: 70px;
}

.links a {
  color: #ffffff;
  text-decoration: none;
  font-size: small;
  transition: color 0.3s ease;
  cursor: pointer;
}

.links a:hover {
  color: #afadff; /* Hover effect */
}

@media (max-width: 700px) {
  
  .navbar{
    padding: 10px ;  /*same in nav */
  }}

  @media (max-width: 450px) {
  
    .navbar {
      padding: 1rem 0rem 0rem 1rem;
      display: flex;
    }
    
    .navContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px ;
      border: 1px solid  rgba(184, 127, 238, 0.395); /* Border with subtle opacity */
      border-radius: 8px;
       background: rgba(35, 35, 36, 0.8);
    ;
    }
    
    .logo h2 {
      color: #ffffff;
      font-weight: 200;
      font-size: 13.28px;
      margin-right: 10px;
    }
    .line{
      /* make a vertical line that doesnt touch the borders */
      border-left: 1px solid rgba(184, 127, 238, 0.395);
      height: 30px;
      width: 10px;
      margin-right: 20px;
      
    }
    .links {
      display: flex;
      gap: 20px;
    }
    
   
    }