
.navbar {
  padding: 2rem 0rem 6rem 1rem;
  display: flex;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
      padding: 0.5rem 1rem  0.5rem 1rem;

  border: 1px solid  rgba(184, 127, 238, 0.395);
  border-radius: 8px;
   background: rgba(35, 35, 36, 0.8);
;
}

.logo h2 {
  color: #ffffff;
  font-weight: 400;
  font-size: 17.28px;
  margin-right: 20px;
}
.line{
  border-left: 1px solid rgba(184, 127, 238, 0.395);
  height: 50px;
  width: 10px;
  margin-right: 20px;
  
}
.links {
  display: flex;
  gap: 70px;
}

.links a {
  color: #ffffff;
  text-decoration: none;
  font-size: small;
  transition: color 0.3s ease;
  cursor: pointer;
  padding-right: 15px;
  padding-left: 10px;
}

.links a:hover {
  color: #afadff; 
}
.listItem{
  font-family: 'NeueMachina';
  color: #afadff;
  padding-top: 2rem;
  text-align: center;
}
@media (max-width: 700px) {
  
  .navbar{
    padding: 10px ; 
  }}


.navbar {
  display: block;
}

.mobileNavbar {
  display: none;
}

@media (max-width: 699px) {
  .navbar {
    display: none;
  }
  .mobileNavbar {
    display: block;
  }
}
