.container{
    width: 100%;
    padding-top: 6rem;
}
.container h1 {
    width: 60%;
    justify-content: left;
  font-size: 70px;
font-weight: 400;
    background: linear-gradient(270deg, #C7C7C7 0%, #FFFFFF 100%);
   background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    padding-bottom: 40px;
}

/* Small Desktops (701px - 1120px) */
@media (min-width: 701px) and (max-width: 1120px) {
    .container h1 {
      width: 80%; /* Increase width to take more space on smaller screens */
      font-size: 50px; /* Reduce font size */
      padding-bottom: 30px; /* Decrease padding */
    }
  }
  
  /* Mobile Devices (max-width: 700px) */
  @media (max-width: 700px) {
    .container h1 {
      width: 100%; /* Full width for mobile screens */
      font-size: 36px; /* Further reduce font size */
      padding-bottom: 20px; /* Further decrease padding */
    }
  }
  