.container{
    width: 100%;
    padding-top: 6rem;
}
.container h1 {
    width: 60%;
    justify-content: left;
  font-size: 100px;
font-weight: 400;
    background: linear-gradient(270deg, #C7C7C7 0%, #FFFFFF 100%);
   background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    padding-bottom: 40px;
    font-weight: 700;
    line-height: 102px;
    letter-spacing: -4%;
}

@media (min-width: 701px) and (max-width: 1020px) {
    .container h1 {
      width: 80%;
      font-size: 50px; 
      padding-bottom: 30px; 
      line-height: 50px;
    }
  }
  
  @media (max-width: 700px) {
    .container h1 {
      width: 70%; 
      font-size: 36px;
      padding-bottom: 20px; 
    line-height: 50px;

    }

    .container > div {
      padding: 0 2rem;
    }
  }
  