.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    height: 50%;
    width: 100%;
    background-image: url('../../public/images/ellipse17.svg');
  background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.head{
font-size: 5rem;
font-weight: 400;
line-height: 71.4px;
letter-spacing: -0.02em;
text-align: center;
width: 60%;
    padding: 6rem;
       background:  linear-gradient(270deg, #C7C7C7 0%, #FFFFFF 100%);

    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}

.container{

display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap:    20px;
}

.card{
display: flex;
background: rgba(35, 35, 36, 1);
border: 1px solid #7270ff92;
height: 426px;
width: 417px;
border-radius: 20px;
align-items: center;
flex-direction: column;


}

.logo{
padding-top: 30px;
}

.card span {
    font-style: italic;
    color: #797373ad;
    font-size: 70px;
    
}
.card p {
    font-size: 0.8rem;
       background:  linear-gradient(270deg, #C7C7C7 0%, #FFFFFF 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
font-size: 20px;
font-weight: 400;
line-height: 22.4px;
letter-spacing: -0.02em;
text-align: center;
    justify-content: center;
}
.card h3 {
    padding-top: 10px;
    color: white;
    font-size: larger;
}

.colorend{
    
    position: relative;
    
    text-align: right;
padding-right: 200px;
left : 22%;
}

.colorstart{
    position: relative;
    top:10%; 
font-size: smaller;
text-align: left;
}


@media (min-width: 701px) and (max-width: 1120px) {
    .head{
        font-size: 3rem;
        font-weight: 400;
        line-height: 40.4px;
        letter-spacing: -0.02em;
        text-align: center;
        width: 60%;
        padding: 4rem;
  
}
    }


 


/* Adjustments for smaller screens */

@media (min-width: 0px) and  (max-width: 700px) {
    .head{
        font-size: 1rem;
        font-weight: 200;
        line-height: 20.4px;
        letter-spacing: -0.02em;
        text-align: center;
        width: 60%;
        padding: 3rem;
  
}
.card{
    height: 300px;
width: 300px;
}
.card h3 {
    padding: 10px;
    font-size: 1rem;
}
.card span{
    font-size: 30px;
}
.card p {
    padding-left: 1rem;   
    padding-right: 5px;  
    line-height: 20px;
    font-size: 0.7rem;
}
.colorend{

    padding-right: 100px;
    left : 22%;
}

    }




