@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .slider {
    height: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  
  .slidetrack {
    display: flex;
    width: calc(100% * 7); /* Make the width dependent on the number of slides */
    animation: scroll 70s linear infinite;
  }
  
  .slide {
    height: 100%;
    flex: 0 0 auto; /* Ensure that each slide takes up a fixed portion of the track */
    width: calc(30% / 7); /* Set each slide to take an equal portion of the container */
    display: flex;
    align-items: center;
    justify-content: center;
  }
